---
- name: Create required dirs
  loop:
    - "{{ minio_volume_server }}"
    - /root/.mc
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  tags:
    - minio

- name: Write default config
  notify:
    - Restart minio
  ansible.builtin.template:
    src: default.j2
    dest: /etc/default/minio
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - minio

- name: Prepare service file
  notify:
    - Restart minio
  ansible.builtin.template:
    src: service.j2
    dest: /etc/systemd/system/minio.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - minio

- name: Pull docker image
  when:
    - minio_pull_image
  community.docker.docker_image:
    name: "{{ minio_image }}"
    source: pull
  tags:
    - minio

- name: Create docker network
  when:
    - false if minio_network is none else (minio_network | length > 0)| default(false)
  community.docker.docker_network:
    name: '{{ minio_network }}'
  tags:
    - minio

- name: Start minio service
  ansible.builtin.systemd:
    name: minio
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - minio

- name: Download client binary
  ansible.builtin.get_url:
    url: "{{ minio_client_url }}"
    dest: /usr/local/bin/mc
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  tags:
    - minio

- name: Write client config
  ansible.builtin.template:
    src: config.j2
    dest: /root/.mc/config.json
    owner: root
    group: root
    mode: u=rw,g=,o=
  tags:
    - minio

- name: Create cronjobs entries
  loop: "{{ minio_cronjobs }}"
  loop_control:
    label: "{{ item.name }}"
  ansible.builtin.cron:
    name: "{{ item.name }}"
    minute: "{{ item.minute | default('*') }}"
    hour: "{{ item.hour | default('*') }}"
    day: "{{ item.day | default('*') }}"
    month: "{{ item.month | default('*') }}"
    weekday: "{{ item.weekday | default('*') }}"
    job: "{{ item.job }}"
  tags:
    - minio

...
