{
  "version": "9",
  "hosts": {
    "local": {
      "url": "https://{{ minio_domain }}",
      "accessKey": "{{ minio_access_key }}",
      "secretKey": "{{ minio_secret_key }}",
      "api": "S3v4",
      "lookup": "auto"
    }
  }
}
