[Unit]
Description=Minio

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/minio \
{% if minio_memory_limit | default(false) %}
  --memory {{ minio_memory_limit }} \
{% endif %}
{% if minio_memory_swap | default(false) %}
  --memory-swap {{ minio_memory_swap }} \
{% endif %}
{% if minio_memory_soft_limit | default(false) %}
  --memory-reservation {{ minio_memory_soft_limit }} \
{% endif %}
{% if minio_cpu_shares | default(false) %}
  --cpu-shares {{ minio_cpu_shares }} \
{% endif %}
{% if minio_number_of_cpus | default(false) %}
  --cpus {{ minio_number_of_cpus }} \
{% endif %}
{% for item in minio_default_labels + minio_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if minio_network | default(false) %}
  --network {{ minio_network }} \
{% endif %}
  --volume /etc/ssl:/etc/ssl:ro \
{% for item in minio_default_volumes + minio_extra_volumes %}
  --volume {{ item }} \
{% endfor %}
{% for item in minio_default_publish + minio_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  --health-cmd /usr/bin/healthcheck \
  --health-interval 10s \
  --health-retries 20 \
  --health-timeout 10s \
  {{ minio_image }}

[Install]
WantedBy=multi-user.target
